#wrapper-bg {
    background-image: url('img/clouds.gif');
    background-size: cover;
    border-radius: 5%; 
}

.assolato{
    background-color:  rgba(0,0,0,.3);
    background-blend-mode: multiply;
}
 body{
    background-image: url(pexels-engin-akyurt-1486861.jpg);
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    background-position: center;
 }

@media (max-with: 768px){

    

}
